.entreprise-form-Entreprise33 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 600px;
}

.entreprise-form-Entreprise33 h3 {
  font-size: 16px;
  margin-bottom: -10px;
  font-weight: 600;
  color: hsl(240 5.9% 10%);
  text-align: left;
  margin-top: -5px;
}

.form-group-Entreprise33 {
  display: flex;
  flex-direction: column;
  gap: 6px;
  flex: 1;
}

.form-group-Entreprise33 label{
    text-align: left;
    font-size: 0.85rem;
    font-weight: 500;
}

.form-row-Entreprise33 {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.input-icon-Entreprise33 {
  display: flex;
  align-items: center;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  background-color: #fff;
}
.input-icon-Entreprise33 svg{
    margin-left: 12px;
}

.input-icon-Entreprise33 input,
.input-icon-Entreprise33 select,
textarea {
  border: none;
  background: transparent;
  outline: none;
  flex: 1;
  font-size: 14px;
  padding-left: 8px;
  
}

.input-icon-Entreprise33 span {
  cursor: pointer;
  color: #6b7280;
}

.form-group-Entreprise33 textarea {
  padding: 10px;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  background-color: #fff;
  min-height: 55px;
  resize: vertical;
  max-width: 590px;
  margin-left: -4px;
}

.checkbox-label-Entreprise33 {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
}

.checkbox-label-Entreprise33 a {
  color: #22c55e;
  text-decoration: none;
}

.submit-btn-Entreprise33 {
  margin-top: 10px;
  width: 100%;
  padding: 12px;
  background: #22c55e;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
  margin-top: -10px;
}

.login-link-Entreprise33 {
  text-align: center;
  font-size: 14px;
  margin-left: 198px;
}

.login-link-Entreprise33 a {
  color: #22c55e;
  text-decoration: none;
}

.input-icon-Entreprise3{
  display: flex;
  align-items: center;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  background: #fff;
  padding: 8px 10px;

}

.input-icon-Entreprise3 input{
   border: none;
  background: transparent;
  outline: none;
  flex: 1;
  font-size: 14px;
  padding-left: 8px;  
}
